<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="container-fluid">
        <div class="ingredients">
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>