<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body class="page">
    <div class="ingredients">
        <div class="ingredients__body">
            <div class="ingredients__content">
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника Клубника Клубника Клубника Клубника Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
                <div class="ingredients__card">
                    <div class="ingredients__info">
                        <div class="ingredients__front">
                            <div class="js-ingredients__media ingredients__media owl-carousel owl-theme">
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-1.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-2.png" alt="">
                                </div>
                                <div class="ingredients__media-item">
                                    <img src="../media/ingredients/img-3.png" alt="">
                                </div>
                            </div>
                            <div class="ingredients__front-content">
                                <div class="ingredients__name">Клубника</div>
                                <div class="ingredients__description active"><p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p></div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                        <div class="ingredients__back">
                            <div class="ingredients__name">Клубника</div>
                            <div class="ingredients__metka">
                                <span class="active">Ru</span><span>En</span><span>Co</span>
                            </div>
                            <div class="ingredients__back-content">
                                <div class="ingredients__description active">
                                    <p>Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. ... Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.Это многолетнее травянистое растение является видом рода Земляника и относится к семейству Розовые. Сначала на Руси так называли землянику зеленую (лат. – Fragаria viridis), у которой даже не до конца созревшие зеленоватые плоды шаровидной формы обладают сладким вкусом и мягкой консистенцией.</p>
                                </div>
                            </div>
                            <div class="ingredients__btn">Изменить</div>
                            <div class="ingredients__btn ingredients__btn_rotate">Развернуть</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ingredients__sidebar sidebar">
            <div class="sidebar__title">Фильтруй базар</div>
            <form class="sidebar__form">
                <div class="sidebar__item">
                    <label>
                        <p>Поиск</p>
                        <input type="text" class="sidebar__field" name="search">
                    </label>
                </div>
                <div class="sidebar__item">
                    <label>
                        <p>Выбери тему</p>
                        <select name="tema">
                            <option value="Диабет">Диабет</option>
                            <option value="Гипертония">Гипертония</option>
                            <option value="Омоложение">Омоложение</option>
                        </select>
                    </label>
                </div>
                <div class="sidebar__item">
                    <label>
                        <p>Выбери язык</p>
                        <select name="language">
                            <option value="Диабет">Русский</option>
                            <option value="Гипертония">Английский</option>
                            <option value="Омоложение">Испанский</option>
                        </select>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>