<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="container">
        <div class="ingredients">
            <div class="card">
                <div class="card__wrap">
                    <div class="card__edit js-card__edit"></div>
                    <div class="card__slider owl-carousel owl-theme">
                        <div class="card__media">
                            <div class="card__media-remove"></div>
                            <div class="card__media-add"></div>
                            <img src="../media/card1.jpg" alt="">
                        </div>
                        <div class="card__media">
                            <div class="card__media-remove"></div>
                            <div class="card__media-add"></div>
                            <img src="../media/card2.jpg" alt="">
                        </div>
                        <div class="card__media">
                            <div class="card__media-remove"></div>
                            <div class="card__media-add"></div>
                            <img src="../media/card3.jpg" alt="">
                        </div>
                    </div>
                    <div class="card__body card__body_face">
                        <div class="card__name"><p>Картофель</p> <span></span></div>
                        <div class="card__description"><p>Карто́фель, или Паслён клубнено́сный (лат. Solánum tuberósum), — вид многолетних клубненосных травянистых растений из рода Паслён (Solanum) семейства</p> <span></span></div>
                        <div class="card__language">
                            <div class="card__language-body">
                                <span class="active">Русский</span><span>Английский</span><span>Латинский</span>
                            </div>
                        </div>
                        <div class="card__tags">
                            <div class="card__tags-tags">
                                <span>Еда</span><span>Здоровье</span><span>Похудение</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__body card__body_edit">
                        <form class="card__form">
                            <div class="card__field">
                                <p>Название</p>
                                <input name="card_name" type="text" value="Картофель">
                            </div>
                            <div class="card__field">
                                <p>Описание</p>
                                <textarea name="card_description">Карто́фель, или Паслён клубнено́сный (лат. Solánum tuberósum), — вид многолетних клубненосных травянистых растений из рода Паслён (Solanum) семейства</textarea>
                            </div>
                            <div class="card__tags">
                                <div class="card__field-add">
                                    <input type="text" placeholder="Добавить метку">
                                    <div>Добавить</div>
                                </div>
                                <div class="card__tags-tags">
                                    <span>Еда<mark></mark></span><span>Здоровье<mark></mark></span><span>Похудение<mark></mark></span>
                                </div>
                            </div>
                            <div class="card__save">
                                <button>Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>